data-factory-pipeline-json.txt
{
    "name": "adfDatabricksDemo",
    "properties": {
        "activities": [
            {
                "name": "metadata file exists",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "trigger_file",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "BinaryReadSettings"
                    }
                }
            },
            {
                "name": "if file exists",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "metadata file exists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('metadata file exists').output.exists",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "runStreamAnalyticsNb",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Repos/salah.a.uddin@accenture.com/credit-fraud-streaming-analytics/credit-fraud-streaming-production"
                            },
                            "linkedServiceName": {
                                "referenceName": "SalahAzureDatabrick",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2023-01-16T21:22:34Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}